h4{
text-align: center;
font-family: 'Helvetica';
}

h5{
    text-align: center;
    font-family: 'Helvetica';
    }

h3{
text-align: center;
font-family:Helvetica;
}

.icono_redes{
height: 40px;
padding-bottom:10px;

}

.p-modal-detalle{
text-align: center;
margin-top: 5%;

}

.barra-de-navegacion {
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 100;
background-color: rgb(184, 169, 128);
}

.a-nav{
    color: rgb(233, 82, 7);
    font-size: smaller;
}

.img-tumnb {

height: 250px;

}

.p-modal{
text-align: center;

}

.m-color{
    background-color: rgb(209, 29, 13)
}
.titulo-taller{
    text-align: left;
}

.img-taller{
    margin-left: 5%;
    margin-top: 5%;
margin-bottom: 5%;
margin-right: 5%;
height: 250px;
}